@CHARSET "UTF-8";
*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#header .headtop
{
    width:100%;
    height: 35px;
    background-color: #333;
}

#header .headcenter{
    font-size: small;
    heighr:35px;
    line-height: 35px;
    width:1200px;
    margin: 0 auto;
}

#header .headcenter .left {
    color: #dddddd;
    float: left;
}

#header .headcenter .right{
    float: right;
    display: inline-block;
}

#header .headcenter .right li{

    text-align: center;
    width: 80px;
    display: inline-block;
}
#header .headcenter .right li a{
    color: #dddddd;
}

#header .headcenter .right .mobile {
    position: relative;
    top: 6px;
    margin-right: 6px;
}
#header .headcenter .right .active a{
    color: #209eff;
}

#header .headbottom
{
    height: 70px;
    line-height: 70px;
    border-bottom: 3px solid #278bdd;
}

#header .headbottom .headbottomcenter {
    heighr: 70px;
    line-height: 70px;
    width: 1200px;
    margin: 0 auto;
}

#header .headbottomcenter .left {
    position: relative;
    left:60px;
    width: 200px;
    float: left;
}

#header .headbottomcenter .left img{
    margin-top: 10px;
}


#header .headbottom .headbottomcenter .center{
    position: relative;
    left:200px;
    text-align: center;
    width: 720px;
    float:left;
}

#header .headbottom .headbottomcenter .center li {
    width: 100px;
    float: left;
}

#header .headbottomcenter .right{
    position: relative;
    left:60px;
    width: 200px;
    float: right;
}

#header .headbottomcenter .right .box{
    position: relative;
    top:-10px;
}

#header .headbottomcenter .right img{
    float:left;
    position: relative;
    top:15px;
    left:-10px;
}
#header .headbottom .headbottomcenter .right h2{
    font-size: 22px;
    color:#f60;
}

#header .headbottom .headbottomcenter .right h3{
    font-weight: normal;
    font-size: 12px;
    margin-top: -50px;
    color:#999;
}

#scorllcenter
{
    background-color: rgb(1,3,42);
    position: relative;
}
#scorllcenter .imgdiv{
    width: 1200px;
    height: 350px;
    background-color: pink;
    margin: 0 auto;
    background-image: url("../images/car/1a333790a228d958.jpg");
}

#scorllcenter .imgform{
background-color: white;
    border-top: 2px solid #278bdd;
    width: 280px;
    height: 314px;
    position: absolute;
    top: 14px;
    right:120px;
}

#scorllcenter .formdiv{
    width:83%;
    height: 300px;
  margin: 0 auto;
}
#scorllcenter .formdiv .top{
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    margin: 10px auto;
}

#scorllcenter .formdiv input{
    font-size: 14px;
    width: 100%;
    height: 40px;
    background-color: #edf0f2;
    border: none;
    margin: 10px auto;
    text-ndent: 10px;
}

#scorllcenter .formdiv .bottom{
    font-size: 12px;
    color: #666666;
    margin: 10px auto;
}

#scorllcenter .formdiv button{
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: #278bdd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}



#scorllcenter .imgform .num{
color: #ff6600;
}

#center  .box .boxbottom {
    width: 1200px;
    height: 140px;
    margin: 0 auto;
    position: relative;
    background-image:url("../images/car/indexAdvBg1.png")
}

#center  .box .boxbottom .box1{
    width: 230px;
    height: 80px;
    top: 20px;
    left: 100px;
    position: absolute;
}
#center  .box .boxbottom .box1 .first{
    font-size: 18px;
    color: #209eff;
    margin: 10px 0;
}

#center  .box .boxbottom .box1 .son {
margin-bottom: 8px;
    font-size: 14px;
    color: #999999;
}

#center  .box .boxbottom .box2{
    width: 230px;
    height: 80px;
    top: 20px;
    left: 410px;
    position: absolute;
}
#center  .box .boxbottom .box2 .first{
    font-size: 18px;
    color: #209eff;
    margin: 10px 0;
}

#center  .box .boxbottom .box2 .son {
    margin-bottom: 8px;
    font-size: 14px;
    color: #999999;
}


#center  .box .boxbottom .box3{
    width: 230px;
    height: 80px;
    top: 20px;
    left: 710px;
    position: absolute;
}
#center  .box .boxbottom .box3 .first{
    font-size: 18px;
    color: #209eff;
    margin: 10px 0;
}

#center  .box .boxbottom .box3 .son {
    margin-bottom: 8px;
    font-size: 14px;
    color: #999999;
}

#center  .box .boxbottom .box4{
    width: 230px;
    height: 80px;
    top: 20px;
    left:1015px;
    position: absolute;
}
#center  .box .boxbottom .box4 .first{
    font-size: 18px;
    color: #209eff;
    margin: 10px 0;
}

#center  .box .boxbottom .box4 .son {
    margin-bottom: 8px;
    font-size: 14px;
    color: #999999;
}


#bid{
    position: relative;
    top: -15px;
    background-color: #F7F7F7;
}
#bid .top{
    background-color: #F7F7F7;
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
#bid .left{
    font-size: 20px;
    float: left;
}
#bid .left div{
    display: inline-block;
    font-size: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #1d89e1;
    text-align: center;
    color: white;
    border-radius: 4px;
}
#bid .right{
    float:right;
}
#bid .right .tra1,#bid .right .tra2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #1d89e1 url("../images/car/indexTopNameLev.png");
    text-align: center;
    float: left;
    position: relative;
    right:30px;
    margin: 0 5px;
    border-radius: 4px;
}
#bid .right .tra1{

    -webkit-transform: rotate(180deg);
    /*firefox*/
    /*-moz-transform: rotate(180deg);*/
    /*ie9+*/
    /*-ms-transform: rotate(180deg);*/
    /*opera*/
    /*-o-transform: rotate(180deg);*/
    transform: rotate(180deg);
}
#bid .right .more{
    position: relative;
    right:10px;
    top:5px;
    height: 30px;
    width: 60px;
    float: right;
    font-size: 12px;
}
#bid .right .more a{

    color:#666;
}
#bid .container{
    width: 1230px;
    margin: 0 auto;
}
#bid .container figure{
    margin: 0;
    padding: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid #d0d0d0;
    width: 588px;
    height: 120px;
    display: inline-block;
}
#bid .container .rt3noneborder{
    position: relative;
    left:-10px;
}

#bid .container .rt1noneborder{
     position: relative;
     left:-10px;
 }

#bid .container figure img{
    margin-right: 15px;
    float: left;
}
#bid .container figure h2{
    font-weight: normal;
    font-size: 16px;
}

#bid .container figure h2 .grade{
    line-height: 20px;
    text-indent: 25px;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    width: 52px;
    height: 20px;
    background: url("../images/car/indexCarLv.jpg");
}
#bid .container figure h2 span{
    letter-spacing: 1px;
}

#bid .container .noneborder{
    border-bottom: none;
}
#bid .container .noneborder .lab
{
    font-size: 10px;
    color: #999999;
}

#bid .container .noneborder .mes
{
    font-size: 10px;
    color: #333333;
}

/*#bid .container .noneborder .mes2{*/
     /*margin-right: 20px;*/
     /*float: right;*/

 /*}*/

/*#bid .container .noneborder .mes3{*/
    /*margin-right: 20px;*/
    /*margin-top: 10px;*/
    /*float: left;*/

/*}*/

/*#bid .container .noneborder .mesleft{*/
    /*margin-right: 20px;*/
    /*float: left;*/

/*}*/
/*#bid .container .noneborder .mesright{*/
    /*margin-right: 30px;*/
    /*float: right;*/
/*}*/
/*#bid .container .noneborder .mes1left{*/
    /*margin-right: 22px;*/
    /*float: left;*/
/*}*/
/*#bid .container .noneborder .mes1right{*/
    /*margin-right: 55px;*/
    /*float: right;*/
/*}*/

#bid .container .noneborder .image1{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
}
#bid .container .noneborder .image2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -20px;
}
#bid .container .noneborder .image3{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -40px;
}
#bid .container .noneborder .image4{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -60px;
}
#bid .container figcaption hr{
    border: 1px dashed #999;
}

#bid .container .rt1noneborder{
    border-bottom: none;
}
#bid .container .rt1noneborder .image1{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
}
#bid .container .rt1noneborder .image2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -20px;
}
#bid .container .rt1noneborder .image3{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -40px;
}
#bid .container .rt1noneborder .image4{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -60px;
}

#bid .container .rt2noneborder{
    border-bottom: none;
}
#bid .container .rt2noneborder .image1{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
}
#bid .container .rt2noneborder .image2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -20px;
}
#bid .container .rt2noneborder .image3{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -40px;
}
#bid .container .rt2noneborder .image4{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -60px;
}

#bid .container .rt3noneborder{
    border-bottom: none;
}
#bid .container .rt3noneborder .image1{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
}
#bid .container .rt3noneborder .image2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -20px;
}
#bid .container .rt3noneborder .image3{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -40px;
}
#bid .container .rt3noneborder .image4{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/car/indexCarLabAll.png")no-repeat;
    background-position: 0 -60px;
}


#center2   button{
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: #278bdd;
    color: white;
    border: none;
}