<style type="text/css">
<!--
.STYLE1 {font-family: "新宋体"}
-->
</style>
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/index.html">抓不住的是时间</a></li>
      <li><a href="{{ site.baseurl }}/blog.html">留得下的是心得</a></li>
      <li><a href="{{ site.baseurl }}/fun.html">可以玩的是游戏</a></li>
      <!--li><a href="{{ site.baseurl }}/tools.html">可以玩的是游戏</a></li-->
      <li><a href="{{ site.baseurl }}/about.html">不了解的是我</a></li>
      <li><a href="{{ site.baseurl }}/talk.html">想说话的是你</a></li>
      <h5 align="center"><a href="{{ site.github }}" title="栗染的github." target="_blank" class="brand STYLE1"><i class="fa fa-github-square">栗染</i></a></h5>
      </ul>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><img class="head-pic" alt="Mr.Liang" src="{{ site.baseurl }}/images/head.jpg"></li>
    <li><img class="head-lz" src="{{ site.baseurl}}/images/liangzai.gif"></li>
    <li class="sidebar-brand"><h3>{{ site.description }}</h3></li>
    <hr />
      <li><a href="{{ site.baseurl }}/index.html">抓不住的是时间</a></li>
      <li><a href="{{ site.baseurl }}/blog.html">留得下的是心得</a></li>
      <li><a href="{{ site.baseurl }}/fun.html">可以玩的是游戏</a></li>
      <li><a href="{{ site.baseurl }}/tools.html">能做的就是实践</a></li>
      <li><a href="{{ site.baseurl }}/about.html">不了解的是我</a></li>
      <li><a href="{{ site.baseurl }}/talk.html">想说话的是你</a></li>
      <h5 class="li-github" align="center"><hr><a class="brand" href="{{ site.github }}" target="_blank" title="栗染的github."><i class="fa fa-github-square">栗染</i></a></h5>
      <h5 class="li-see" align="center">
	 &copy;{{ site.time | date: '%Y' }}
	 <span id="busuanzi_container_site_uv"><i class="fa fa-user"  title="本站访问人次"><span class="busuanzi-value" id="busuanzi_value_site_uv"></span></i></span>
   	 <span id="busuanzi_container_site_pv"><i class="fa fa-eye"  title="本站访问数量"><span class="busuanzi-value" id="busuanzi_value_site_pv"></span></i></span>
      </h5>
  </ul>
</div>
